<form action="/" method="POST">
   <input type= "hidden" name= "album_id" value=${data[0].id}>
   <label> Title
      <input type="text" name="review_title" placeholder="Review Title"/>
   </label>
   <label> My Review
     <textarea name="review_text" placeholder="=album...">
      </textarea>
   </label>

   <button type="submit">Save Review</button>
</form>
   <table>
      <tr>
      
      <th>User Name</th>
      <th>Title</th>
      <th>Number Stars</th>
      <th>Review</th>
      </tr>
      
      ${reviews.map(entry => 
         ` <tr> <td>${entry.name}</td> <td>${entry.title}</td> <td>${entry.stars}</td> <td>${entry.review}</td> </tr>`
      ).join('')}
   </table>
      
   <a href="/">Return To Album List </a>   