body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../stylesheets/album.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  color: white;
}

a {
  color: #00b7ff;
}
